{
  "presets": [
    "es2015",
    "stage-0",
    "flow"
  ],
  "plugins": [
    "transform-class-display-name",
    "transform-runtime"
  ],
  "sourceMaps": true,
  "env": {
    "test": {
      "plugins": [
        "transform-class-display-name",
        "rewire",
        "transform-runtime"
      ]
    }
  }
}
